body{
    background-color: #182029;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.navbar-brand{
    padding-left: 1rem;
}

.footer{
    color: #fff;
}
.footer:hover{
    color: #46607e;
    cursor: pointer;;
}